:root {
  --main-bg: #333646;
  --secondary-bg: #252734;
  --main-font: #ffc25c;
  --secondary-font: #ebebec;
  --p-font: #a1a4b5;
  --raleway: "Raleway", sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}

.main {
  background-color: var(--main-bg);
  height: 80vh;
  padding: 2.5% 10% 15%;
  color: var(--secondary-font);
  display: flex;
  flex-direction: column;
}

/* navbar */

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar-brand > img:hover {
  animation: 2s hover infinite;
}

.nav-list {
  display: flex;
  align-items: center;
  list-style-type: none;
  font-family: var(--raleway);
}
.nav-list > li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-list > li:hover {
  animation: 1s listHover;
}
.nav-list > li:hover > hr {
  display: flex;
  border: 5px dotted var(--main-font);
  width: 0.5rem;
  border-style: none none dotted;
  animation: 1s listHr;
}

.nav-list > li > hr {
  display: none;
}
.nav-item {
  color: var(--secondary-font);
  text-decoration: none;
  margin: 1rem 1rem 0;
  font-size: 1.8rem;
}

/* navbar end */

/* main hero section */

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.main-name > hr {
  width: 4rem;
  margin-top: 0.5rem;
  border: 1px solid var(--main-font);
}
.name {
  margin-top: 5rem;
  font-size: 3rem;
  font-family: var(--raleway);
}
.socials {
  margin-top: 1.5rem;
  display: flex;
  width: 6rem;
  justify-content: space-between;
}
.socials > a {
  color: var(--p-font);
  font-size: 1.5rem;
}
.socials > a:hover {
  color: var(--main-font);
}

.main-info {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 5rem;
}
.main-info > p {
  color: var(--p-font);
}
.main-info > h3 {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-left: 7px;
  font-family: var(--raleway);
}

.main-info > .desc {
  margin-top: 1rem;
  margin-left: 7px;
  color: var(--p-font);
}

.main-info > a {
  color: var(--main-font);
  text-decoration: none;
  font-size: 1rem;
  margin-top: 1rem;
  margin-left: 7px;
  font-size: 1.5rem;
}

.main-info > a:hover > i {
  animation: 1s contactHover infinite;
}

/* end */

/* portfolio */

.portfolio {
  background-color: var(--secondary-bg);
  height: 80vh;
}

/* end */

@keyframes hover {
  20% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-15deg);
  }
  80% {
    transform: rotate(15deg);
  }
}

@keyframes listHover {
  20% {
    transform: translateY(-5px);
  }
}

@keyframes listHr {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
}

@keyframes contactHover {
  50% {
    transform: translateX(5px);
  }
}
